<!DOCTYPE html>

<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<title>图表</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<style type="text/css">
			div,table, tr, td, th, tbody, thead, tfoot {page-break-inside: avoid !important;}
			table,tr,td{border: 1px solid;border-color: #8c8c8c}
		</style>
	</head>

	<body>
	    <div style="height: 2rem"></div>
		<div style="height: 2rem"></div>
		<div style="height: 2rem"></div>
		<div style="text-align: center;"><h1>IaaS层资源使用4月月度运营报告</h1></div>
		<div style="height: 2rem"></div>
		<div style="height: 2rem"></div>
		<div style="height: 2rem"></div>
		<div><p><span style="font-weight: bold">【时间】</span>YEAR年-MONTH月-DAY日 - YEAR年-MONTH月-DAY日</p></div>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【资源情况汇总】</p></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次数据报告分析涉及 主机XXXX 台，网络设备XXXX台，数据库XXXX台，中间件XXXX套。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本次数据报告分析涉及 主机XXXX 台，网络设备XXXX台，数据库XXXX台，中间件XXXX套。</div>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【资源使用概述】</p></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本月主机整体CPU利用率均值 XX.XX%， CPU高负荷时长XXXX小时， 整体内存利用率均值XX.XX%， 整体磁盘利用率XX.XX% 。设备故障XXXX次，故障恢复XXXX次。</div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其中天翼云主机本月整体CPU利用率均值XX.XX%，CPU高负荷时长XXXX小时，整体内存利用率均值XX.XX%，整体磁盘利用率XX.XX%% 。设备故障XXXX次，故障恢复XXXX次。</div>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【总体资源使用说明】</p></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆运营流程系统主机共计42台、门户系统主机13台、ODS系统主机17台、综合激活系统主机7台，04月整体运行正常，未发生影响业务的故障；各核心组件所在主机CPU、内存、磁盘等系统指标利用率均在正常范围内。下面是总体IaaS核心指标使用情况柱状图：</div>
		<div style="height: 2rem"></div>
		<div id="view" style="width: 350px;height: 300px;display: inline-block"></div><div id="view1" style="width: 350px;height: 300px;display: inline-block"></div>
		<div style="height: 2rem"></div>
		<div style="page-break-before: left;"><p style="font-weight: bold">【总体核心指标均值TOP5】</p></div>
		<table id="process" style="width: 100%">
			<tr><td>系统域</td><td>服务器类型</td><td>CPU利用率均值IP地址TOP3</td><td>CPU利用率均值</td><td>内存利用率均值IP地址TOP3</td><td>内存利用率均值</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>数据库服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>数据库服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>数据库服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>数据库服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>数据库服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>数据库服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
		</table>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【天翼云资源使用说明】</p></div>
		<div style="height: 2rem"></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆运营流程系统主机共计42台、门户系统主机13台、ODS系统主机17台、综合激活系统主机7台，04月整体运行正常，未发生影响业务的故障；各核心组件所在主机CPU、内存、磁盘等系统指标利用率均在正常范围内。下面是总体IaaS核心指标使用情况柱状图：</div>
		<div style="height: 2rem"></div>
		<div id="view3" style="width: 350px;height: 300px;display: inline-block"></div><div id="view4" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view5" style="width: 350px;height: 300px;display: inline-block"></div><div id="view6" style="width: 350px;height: 300px;display: inline-block"></div>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【天翼云核心指标均值TOP5】</p></div>
		<table style="width: 100%">
			<tr><td>系统域</td><td>服务器类型</td><td>CPU利用率均值IP地址TOP3</td><td>CPU利用率均值</td><td>内存利用率均值IP地址TOP3</td><td>内存利用率均值</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
		</table>
		<div style="height: 2rem"></div>
		<div style="page-break-before: left;"><p style="font-weight: bold">【天翼云高负荷时长TOP3】</p></div>
		<table style="width: 100%">
			<tr><td>系统域</td><td>部署模块</td><td>IP地址</td><td>持续时长</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
		</table>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【天翼云ping延迟趋势图】</p></div>
		<div id="ping" style="width: 350px;height: 300px;display: inline-block"></div>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【非天翼云资源使用说明】</p></div>
		<div style="height: 2rem"></div>
		<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆运营流程系统主机共计42台、门户系统主机13台、ODS系统主机17台、综合激活系统主机7台，04月整体运行正常，未发生影响业务的故障；各核心组件所在主机CPU、内存、磁盘等系统指标利用率均在正常范围内。下面是总体IaaS核心指标使用情况柱状图：</div>
		<div style="height: 2rem"></div>
		<div id="view23" style="width: 350px;height: 300px;display: inline-block"></div><div id="view24" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view25" style="width: 350px;height: 300px;display: inline-block"></div><div id="view26" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view27" style="width: 350px;height: 300px;display: inline-block"></div><div id="view28" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view29" style="width: 350px;height: 300px;display: inline-block"></div><div id="view30" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view31" style="width: 350px;height: 300px;display: inline-block"></div><div id="view32" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view33" style="width: 350px;height: 300px;display: inline-block"></div><div id="view34" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view35" style="width: 350px;height: 300px;display: inline-block"></div><div id="view36" style="width: 350px;height: 300px;display: inline-block"></div>
		<div id="view37" style="width: 350px;height: 300px;display: inline-block"></div><div id="view38" style="width: 350px;height: 300px;display: inline-block"></div>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【非天翼云核心指标均值TOP5】</p></div>
		<table style="width: 100%">
			<tr><td>系统域</td><td>服务器类型</td><td>CPU利用率均值IP地址TOP3</td><td>CPU利用率均值</td><td>内存利用率均值IP地址TOP3</td><td>内存利用率均值</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td><td>136.6.177.21</td><td>19.17</td></tr>
		</table>
		<div style="height: 2rem"></div>
		<div><p style="font-weight: bold">【非天翼云高负荷时长TOP3】</p></div>
		<table style="width: 100%">
			<tr><td>系统域</td><td>部署模块</td><td>IP地址</td><td>持续时长</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
			<tr><td>运营流程系统</td><td>应用服务器</td><td>136.6.177.21</td><td>12.17</td></tr>
		</table>
		<div style="height: 2rem"></div>
		<div style="page-break-before: left;"><p style="font-weight: bold">【非天翼云ping延迟趋势图】</p></div>
		<div id="ping2" style="width: 350px;height: 300px;display: inline-block"></div>

		<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/static/js/echarts-3.8.5.min.js"></script>
		<script type="text/javascript" src="/static/js/tablesMergeCell.js"></script>
		<script type="text/javascript"  th:inline="javascript">
		(function() {
			$(function(){
				$('#process').tablesMergeCell({
					cols: [1]
				});
			});

			const bar = echarts.init(document.getElementById("view"));
			const bar1 = echarts.init(document.getElementById("view1"));
			const bar3 = echarts.init(document.getElementById("view3"));
			const bar4 = echarts.init(document.getElementById("view4"));
			const bar5 = echarts.init(document.getElementById("view5"));
			const bar6 = echarts.init(document.getElementById("view6"));
			const bar23 = echarts.init(document.getElementById("view23"));
			const bar24 = echarts.init(document.getElementById("view24"));
			const bar25 = echarts.init(document.getElementById("view25"));
			const bar26 = echarts.init(document.getElementById("view26"));
			const bar27 = echarts.init(document.getElementById("view27"));
			const bar28 = echarts.init(document.getElementById("view28"));
			const bar29 = echarts.init(document.getElementById("view29"));
			const bar30 = echarts.init(document.getElementById("view30"));
			const bar31 = echarts.init(document.getElementById("view31"));
			const bar32 = echarts.init(document.getElementById("view32"));
			const bar33 = echarts.init(document.getElementById("view33"));
			const bar34 = echarts.init(document.getElementById("view34"));
			const bar35 = echarts.init(document.getElementById("view35"));
			const bar36 = echarts.init(document.getElementById("view36"));
			const bar37 = echarts.init(document.getElementById("view37"));
			const bar38 = echarts.init(document.getElementById("view38"));
			var option = {
				title: {
					text: "天翼云",
					textStyle: {
						fontSize: 12
					},
					bottom: '5%',
					left: 'center'
				},
				animation: false,
				backgroundColor: '',
				grid: {
					left: '1%',
					right: '1%',
					bottom: '15%',
					top:'10%',
					padding:'0 0 10 0',
					containLabel: true,
				},
				legend: {//图例组件，颜色和名字
					right:10,
					top:0,
					itemGap: 16,
					itemWidth: 18,
					itemHeight: 10,
					data:[{
						name:'均值',
					},
						{
							name:'峰值',
						}],
					textStyle: {
						color: '#a8aab0'
					}
				},
				xAxis: [
					{
						type: 'category',
						boundaryGap: true,//坐标轴两边留白
						data: ['cpu利用率', '内存利用率', '磁盘利用率'],
						axisLabel: { //坐标轴刻度标签的相关设置。
							interval: 0,//设置为 1，表示『隔一个标签显示一个标签』
							margin:15,
							textStyle: {
								color: '#555'
							}
						},
						axisTick:{//坐标轴刻度相关设置。
							show: true,
						},
						axisLine:{//坐标轴轴线相关设置
							lineStyle:{
								color:'#555',
							}
						},
						splitLine: { //坐标轴在 grid 区域中的分隔线。
							show: false,
						}
					}
				],
				yAxis: [
					{
						type: 'value',
						splitNumber: 5,
						axisLabel: {
							formatter: '{value} %',
							textStyle: {
								color: '#555',
							}
						},
						axisLine:{
							show: true
						},
						axisTick:{
							show: true
						},
						splitLine: {
							show: true,
							lineStyle: {
								color: ['#555'],
								opacity:0.06
							}
						}

					}
				],
				series : [
					{
						name:'均值',
						type:'bar',
						data:[[${data1}]],
						barWidth: 20,
						barGap:0,//柱间距离
						label: {//图形上的文本标签
							normal: {
								show: true,
								position: 'top',
								textStyle: {
									color: '#555'
								},
							},
						},
						itemStyle: {//图形样式
							normal: {
								barBorderRadius: [5, 5, 0, 0],
								color: '#28bf7e',
							},
						},
					},
					{
						name:'峰值',
						type:'bar',
						data:[[${data2}]],
						barWidth: 20,
						barGap:0.5,//柱间距离
						label: {//图形上的文本标签
							normal: {
								show: true,
								position: 'top',
								textStyle: {
									color: '#555'
								},
							},
						},
						itemStyle: {//图形样式
							normal: {
								barBorderRadius: [5, 5, 0, 0],
								color: '#ed7c2f',
							},
						},
					}
				]
			};

			bar.setOption(option);
			bar1.setOption(option);
			bar3.setOption(option);
			bar4.setOption(option);
			bar5.setOption(option);
			bar6.setOption(option);
			bar23.setOption(option);
			bar24.setOption(option);
			bar25.setOption(option);
			bar26.setOption(option);
			bar27.setOption(option);
			bar28.setOption(option);
			bar29.setOption(option);
			bar30.setOption(option);
			bar31.setOption(option);
			bar32.setOption(option);
			bar33.setOption(option);
			bar34.setOption(option);
			bar35.setOption(option);
			bar36.setOption(option);
			bar37.setOption(option);
			bar38.setOption(option);
			const ping = echarts.init(document.getElementById("ping"));
			const ping2 = echarts.init(document.getElementById("ping2"));
			const pingOpt1  = {
				title: {
					text: "天翼云ping延迟趋势图",
					top: '5%',
					left: 'center'
				},
				animation: false,
				grid: {
					left: '5%',
					top: '20%',
					right: '2%',
					bottom: '8%',
					containLabel: true
				},
				xAxis: [{
					type: 'category',
					axisLine: {
						lineStyle: {
							color: '#555'
						}
					},
					axisLabel: {
						show: true,
						color: '#555',
					},
					data: ['3.1', '3.2', '3.3','3.4', '3.5', '3.6','3.7']
				}],
				yAxis: [{
					type: 'value',
					axisTick: {
						show: true
					},
					axisLine: {
						lineStyle: {
							color: '#555'
						}
					},
					axisLabel: {
						formatter: '{value} ms',
						textStyle: {
							color: '#555',
						}
					},
					splitLine: {
						lineStyle: {
							color: '#555'
						}
					}
				}],
				series: [{
					name: '网络延时(ms)',
					type: 'line',
					smooth: true,
					label: {//图形上的文本标签
						normal: {
							show: true,
							position: 'top',
							textStyle: {
								color: '#555'
							},
						},
					},
					itemStyle: {
						normal: {
							color: 'rgb(137,189,27)'
						}
					},
					data: [110,119,97,56,81,48,86,41,81,54,78,47]
				} ]
			};
			ping.setOption(pingOpt1);
			ping2.setOption(pingOpt1);
		})();
		</script>
		<script type="text/javascript">

		</script>
	</body>
</html>
